/* colors */
@import '@/assets/sass/variables.scss';

form {

	.svgContainer {
		position: relative; width: 200px; height: 200px; margin: 0 auto 1em;
		border-radius: 50%;
		pointer-events: none;
		div {
			position: relative; width: 100%; height: 0; overflow: hidden; border-radius: 50%;
			padding-bottom: 100%;
		}
		.this.mySVG {
			position: absolute; left: 0; top: 0; width: 100%; height: 100%;
			pointer-events: none;
		}
		&:after {
			content: ""; position: absolute; top: 0; left: 0; z-index: 10; 
			width: inherit; height: inherit; box-sizing: border-box;
			border: solid 2.5px $darkBlue; border-radius: 50%;
		}
	}
	.inputGroup {
		margin: 0 0 2em; padding: 0; position: relative;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	label {
		margin: 0 0 12px; display: block;
		font-size: 1.25em; color: #217093; font-weight: 700; font-family: inherit;
	}

	.inputGroup1 {
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1em, 2.2em) scale(1); transform-origin: 0 0;
			color: $darkBlue; font-size: 1.25em; font-weight: 400; opacity: .65;
			pointer-events: none;
			transition: transform .2s ease-out, opacity .2s linear;
		}
		
		&.focusWithText .helper {
			transform: translate(1em, 1.55em) scale(.6); opacity: 1;
		}
	}
	.inputGroup2 {
		input[type="password"] {
			padding: .4em 1em .5em;
		}
		input[type="text"] {
			padding: .025em 1em 0;
        }
        input[type=checkbox]
        {
        /* Double-sized Checkboxes */

        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2);
        }
                #this.showPasswordToggle {
			display: block; padding: 0 0 0 1.45em;
			position: absolute; top: .25em; right: 0;
			font-size: 1em;
			input {
				position: absolute; z-index: -1;
				opacity: 0;
			}
			.indicator {
				position: absolute; top: 0; left: 0;
				height: .85em; width: .85em;
				background-color: $inputBG; border: solid 2px $darkBlue; border-radius: 3px;
				&:after {
					content: "";
					position: absolute; left: .25em; top: .025em;
					width: .2em; height: .5em;
					border: solid $darkBlue; border-width: 0 3px 3px 0;
					transform: rotate(45deg); visibility: hidden;
				}
			}
			input:checked ~ .indicator {
				&:after {visibility: visible;}
			}
			input:focus ~ .indicator, input:hover ~ .indicator {
				border-color: $medBlue;
			}
			input:disabled ~ .indicator {
				opacity: .5;
				&:after {visibility: hidden;}
			}
		}
	}
}
