# pip install sqlalchemy
pip install Flask-SQLAlchemy
pip install flask-restplus

# after first local commit  :
~/dev/shift_handover (master)
$ git remote add origin https://github.com/dactechie/intershift_comms.git

~/dev/shift_handover (master)
$ git push -u origin master


# Aftab.Jalal@dact-55lt MINGW64 ~/dev/shift_handover/server
# $ source shft/Scripts/activate

sqlite> .mode column
sqlite> .headers on


# changes to DB schema"   ## WARNING ALTERs don't work with sqlite
1. move handover.db to a folder up (server/)
2. make changes to the model.py (under apis/auth or apis/message/)
3. go back up to server/ and run python manage.py db migrate , then db upgrade
4. move the handover.db back to the apis/ folder


----------
Client Interface generation from sqlite DB : 
>npm i @rmp135/sql-ts knex sqlite3  --save-dev
> ~/dev/shift_handover/client
> tsc convert-to-ts.ts &&  node convert-to-ts.js

/c/sqlite/sqlite3 handover.db
.tables
.schema

-------
conda create --name shft python=3.7.4 --channel conda-forge
avatar :
https://getavataaars.com/?accessoriesType=Blank&avatarStyle=Transparent&clotheColor=Pink&clotheType=CollarSweater&eyeType=Side&eyebrowType=DefaultNatural&facialHairType=Blank&hairColor=BlondeGolden&mouthType=Tongue&skinColor=Light&topType=LongHairBob